.about {
  background-color: #f2f2f2;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__description {
    margin-bottom: 30px;
  }

  &__photo {
    max-width: 100%;
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;
  }

  &__text {
    margin-bottom: 60px;
  }
}

@media (min-width: $tablet) {
  .about {
    &__container {
      flex-direction: row;
    }

    &__photo {
      order: 1;
      width: $width-first-block-tablet;
    }

    &__description {
      order: 2;
      margin-bottom: 0;
    }
  }
}

@media (min-width: $desktop) {
  .about {
    &__photo {
      width: $width-first-block-desktop;
    }
  }
}

@media (min-width: $large-desktop) {
}
