.page-header {
  position: relative;
  overflow: hidden;
  margin-bottom: 35px;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $main-color;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: block;
    background-color: $main-color;
    opacity: 0.2;
  }

  &__picture {
    width: 100%;
    height: 100vh;
  }

  &__img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  &__wrap-info {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &__title,
  &__social {
    position: relative;
    z-index: 20;
    width: 100%;
  }

  &__title {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__name {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    letter-spacing: 7px;
    color: #2b303c;
  }

  &__text {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 4px;
    color: #2b303c;
  }

  &__button {
    margin-top: 30px;
  }

  &__social {
    margin-bottom: 30px;
  }
}

@media (min-width: $tablet) {
  .page-header {
    &__name {
      font-size: 40px;
      line-height: 22px;
    }

    &__text {
      font-size: 24px;
    }
  }
}

@media (min-width: $desktop) {
  .page-header {
    margin-bottom: 100px;

    &__name {
      font-size: 70px;
    }

    &__text {
      font-size: 34px;
    }
  }
}
