<section id="about" class="about">
  <div class="about__description gl-description-right">
    <h2 class="about__title gl-title">Обо Мне</h2>
    <p class="about__text gl-title-text">Моя ЦЕЛЬ&nbsp;&mdash; сделать из&nbsp;макетов и&nbsp;идей целостный
      продукт, с&nbsp;качественно выполненной технической частью, который
      повысит шанс клиента на&nbsp;привлечение новых пользователей и&nbsp;увеличение продаж.</p>
    <a href="#contacts" class="about__button btn btn--color-dark">Контакты</a>
  </div>
  <div class="about__photo">

    <picture>
      <source srcset="img/about.avif" type="image/avif">
      <source srcset="img/about.webp" type="image/webp">
      <img loading="lazy" src="img/about.jpg" class="about__img" width="767" height="546"
        alt="Александр Горощенко - Html-Верстальщик">
    </picture>

  </div>
</section>
