<section id="contacts" class="contacts">
  <div class="contacts__description gl-description-left">
    <h2 class="contacts__title gl-title">Контакты</h2>
  </div>
  <div class="contacts__wrap">
    <div class="contacts__socials">
      <h3 class="contacts__socials-massage">Мои номера телефонов, социальные сети и мессенджеры.</h3>
      <ul class="contacts__items">
        <li class="contacts__item">
          <a href="tel:+79493708233" class="contacts__link">
            <svg class="" width="20" height="20">
              <use xlink:href="img/sprite.svg#phone-icon"></use>
            </svg>
            +7(949)370-82-33
          </a>
        </li>
        <li class="contacts__item">
          <a href="tel:+70713708233" class="contacts__link">
            <svg class="" width="20" height="20">
              <use xlink:href="img/sprite.svg#phone-icon"></use>
            </svg>
            +7(071)370-82-33
          </a>
        </li>
        <li class="contacts__item">
          <a href="mailto:a.goroshchenko@yandex.ru" class="contacts__link">
            <svg class="" width="20" height="20">
              <use xlink:href="img/sprite.svg#email-icon"></use>
            </svg>
            a.goroshchenko@yandex.ru
          </a>
        </li>
        <li class="contacts__item">
          <a href="http://vk.com/id345972020" class="contacts__link">
            <svg class="" width="20" height="20">
              <use xlink:href="img/sprite.svg#vk-icon"></use>
            </svg>
            vk.com/id345972020
          </a>
        </li>
        <li class="contacts__item"><a href="https://t.me/+79384677815" class="contacts__link">
            <svg class="" width="20" height="20">
              <use xlink:href="img/sprite.svg#telegram-icon"></use>
            </svg>
            Telegram
          </a>
        </li>
        <li class="contacts__item"><a href="viber://chat?number=+380501929567" class="contacts__link">
            <svg class="" width="20" height="20">
              <use xlink:href="img/sprite.svg#viber-icon"></use>
            </svg>
            Viber
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
