<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Портфолио Александр Горощенко - Html-Верстальщик</title>

  <meta name="description" content="Портфолио Александр Горощенко - Html-Верстальщик.">
  <meta name="keywords"
    content="HTML, CSS, SCSS, JavaScript (кастомизация), GULP, jQuery (кастомизация), GIT, Адаптивность, Кроссбраузерность, Photoshop, Figma, Avocode, Accessibility">
  <meta name="author" content="Александр Горощенко">

  <meta property="og:type" content="website">
  <meta property="og:title" content="Портфолио Александр Горощенко - Html-Верстальщик.">
  <meta property="og:description"
    content="HTML, CSS, SCSS, JavaScript (кастомизация), GULP, jQuery (кастомизация), GIT, Адаптивность, Кроссбраузерность, Photoshop, Figma, Avocode, Accessibility">

  <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="img/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
  <link rel="manifest" href="img/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

  <link rel="preload" href="fonts/montserratbold-mf.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/montserratregular-mf.woff2" as="font" type="font/woff2" crossorigin>

  <meta name="apple-mobile-web-app-title" content="Портфолио Александр Горощенко - Html-Верстальщик">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="address=no">


  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
</head>
