<header id="home" class="page-header">
  <div class="page-header__title container">
    <h1 class="page-header__name">Я Александр Горощенко</h1>
    <h2 class="page-header__text">Html-Верстальщик</h2><a href="#projects"
      class="page-header__button btn btn--border-color-white">Проекты</a>
  </div>
  <div class="page-header__social container">
    <ul class="social">
      <li class="social__item">
        <a href="mailto:a.goroshchenko@yandex.ru" class="social__link">
          <span class="visually-hidden">Ссылка на email</span>
          <svg class="social__icon" width="16" height="16">
            <use xlink:href="img/sprite.svg#email-icon"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="http://vk.com/id345972020" class="social__link">
          <span class="visually-hidden">Ссылка на ВКонтакте</span>
          <svg class="social__icon" width="16" height="16">
            <use xlink:href="img/sprite.svg#vk-icon"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="https://t.me/+79384677815" class="social__link">
          <span class="visually-hidden">Ссылка на Telegram</span>
          <svg class="social__icon" width="16" height="16">
            <use xlink:href="img/sprite.svg#telegram-icon"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="viber://chat?number=+380501929567" class="social__link">
          <span class="visually-hidden">Ссылка на Viber</span>
          <svg class="social__icon" width="16" height="16">
            <use xlink:href="img/sprite.svg#viber-icon"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
