<nav class="main-nav main-nav--closed"><button class="main-nav__toggle" type="button"><span
      class="visually-hidden">Открыть меню</span></button>
  <div class="main-nav__wrapper">
    <ul class="main-nav__list site-list">
      <li class="site-list__item"><a href="#home" class="site-list__link">Главная</a></li>
      <li class="site-list__item"><a href="#projects" class="site-list__link">Проекты</a></li>
      <li class="site-list__item"><a href="#about" class="site-list__link">Обо мне</a></li>
      <li class="site-list__item"><a href="#skills" class="site-list__link">Навыки</a></li>
      <li class="site-list__item"><a href="#contacts" class="site-list__link">Контакты</a></li>
    </ul>
  </div>
</nav>
