<section id="projects" class="projects">
  <div class="projects__description gl-description-right">
    <h2 class="projects__title gl-title">Проекты</h2>
    <p class="projects__text gl-title-text">Каждый клиент индивидуален со&nbsp;своими разными целями
      и&nbsp;задачами. Поэтому к&nbsp;каждому клиенту необходим свой подход.</p>
    <p class="projects__text gl-title-text">Каждый новый проект&nbsp;&mdash; это возможность стать лучше и&nbsp;опытнее для
      более качественного выполнения последующих проектов.</p>
  </div>
  <div class="projects__items">
    <div class="projects__item" data-index="1">
      <a href="#" class="projects__link">
        <img src="img/proj_sport-ritm.png" class="projects__img" width="500" height="500"
          alt="Сайт для SportRitm.com.ua">
        <div class="projects__block-hover">
          <h3 class="projects__caption">Сайт для интернет-магазина SportRitm.com.ua</h3>
          <div class="projects__details">
            <div class="projects__plus">
              <svg class="projects__plus-icon" width="10" height="10">
                <use xlink:href="img/sprite.svg#plus-icon"></use>
              </svg>
            </div>
            <span class="projects__details-text">Подробнее</span>
          </div>
        </div>
      </a>
    </div>
    <div class="projects__item" data-index="2">
      <a href="#" class="projects__link">
        <img src="img/proj_millionsmedia.png" class="projects__img" width="500" height="500"
          alt="Страница для заказчика с Kwork kir32232">
        <div class="projects__block-hover">
          <h3 class="projects__caption">Страница для заказчика с Kwork kir32232</h3>
          <div class="projects__details">
            <div class="projects__plus">
              <svg class="projects__plus-icon" width="10" height="10">
                <use xlink:href="img/sprite.svg#plus-icon"></use>
              </svg>
            </div>
            <span class="projects__details-text">Подробнее</span>
          </div>
        </div>
      </a>
    </div>
    <div class="projects__item" data-index="3">
      <a href="#" class="projects__link">
        <img src="img/proj_freshsportdn.png" class="projects__img" width="500" height="500" alt="Сайт для FRESHSPORTDn">
        <div class="projects__block-hover">
          <h3 class="projects__caption">Сайт для интернет-магазина FRESHSPORTDn</h3>
          <div class="projects__details">
            <div class="projects__plus">
              <svg class="projects__plus-icon" width="10" height="10">
                <use xlink:href="img/sprite.svg#plus-icon"></use>
              </svg>
            </div>
            <span class="projects__details-text">Подробнее</span>
          </div>
        </div>
      </a>
    </div>
    <div class="projects__item" data-index="4">
      <a href="#" class="projects__link">
        <img src="img/proj_sushitown.jpg" alt="Тренировочный проект" class="projects__img" width="500" height="500">
        <div class="projects__block-hover">
          <h3 class="projects__caption">Тренировочный проект</h3>
          <div class="projects__details">
            <div class="projects__plus"><svg class="projects__plus-icon" width="10" height="10">
                <use xlink:href="img/sprite.svg#plus-icon"></use>
              </svg></div><span class="projects__details-text">Подробнее</span>
          </div>
        </div>
      </a>
    </div>
    <div class="projects__item" data-index="5">
      <a href="#" class="projects__link">
        <img src="img/proj_sportatletic.jpg" alt="Тренировочный проект" class="projects__img" width="500" height="500">
        <div class="projects__block-hover">
          <h3 class="projects__caption">Тренировочный проект</h3>
          <div class="projects__details">
            <div class="projects__plus"><svg class="projects__plus-icon" width="10" height="10">
                <use xlink:href="img/sprite.svg#plus-icon"></use>
              </svg></div><span class="projects__details-text">Подробнее</span>
          </div>
        </div>
      </a>
    </div>
    <div class="projects__item" data-index="6">
      <a href="#" class="projects__link">
        <img src="img/proj_surfhouse.jpg" alt="Тренировочный проект" class="projects__img" width="500" height="500">
        <div class="projects__block-hover">
          <h3 class="projects__caption">Тренировочный проект</h3>
          <div class="projects__details">
            <div class="projects__plus"><svg class="projects__plus-icon" width="10" height="10">
                <use xlink:href="img/sprite.svg#plus-icon"></use>
              </svg></div><span class="projects__details-text">Подробнее</span>
          </div>
        </div>
      </a>
    </div>
    <div class="projects__item" data-index="7">
      <a href="#" class="projects__link">
        <img src="img/proj_lamoda.jpg" alt="Тренировочный проект" class="projects__img" width="500" height="500">
        <div class="projects__block-hover">
          <h3 class="projects__caption">Тренировочный проект</h3>
          <div class="projects__details">
            <div class="projects__plus"><svg class="projects__plus-icon" width="10" height="10">
                <use xlink:href="img/sprite.svg#plus-icon"></use>
              </svg></div><span class="projects__details-text">Подробнее</span>
          </div>
        </div>
      </a>
    </div>
    <div class="projects__item" data-index="8">
      <a href="#" class="projects__link">
        <img src="img/proj_webagency.jpg" alt="Тренировочный проект" title="Web design for Kapron" class="projects__img"
          width="500" height="500">
        <div class="projects__block-hover">
          <h3 class="projects__caption">Тренировочный проект</h3>
          <div class="projects__details">
            <div class="projects__plus"><svg class="projects__plus-icon" width="10" height="10">
                <use xlink:href="img/sprite.svg#plus-icon"></use>
              </svg></div><span class="projects__details-text">Подробнее</span>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="modal hidden">
    <div class="modal__content"><button type="button" class="modal__close" tabindex="0">&times;</button>
      <div class="modal__carousel carousel">
        <div class="carousel__item carousel__item--fade hidden">
          <h3 class="carousel__caption">Сайт для интернет-магазина SportRitm.com.ua</h3>
          <div class="carouse__client-url-wrap">
            <span class="carousel__client">Клиент:</span>
            <span class="carousel__client-name">SportRitm.com.ua</span>
          </div>
          <div class="carouse__client-url-wrap">
            <span class="carousel__proj-url">URL проекта:</span>
            <a href="http://algorweb.github.io/portfolio/sportritm/index.html" class="carousel__url"
              target="_blank">algorweb.github.io/portfolio/sportritm/</a>
          </div>
          <div class="carouse__client-url-wrap">
            <span class="carousel__proj-url">Репозиторий GitHub:</span>
            <a href="https://github.com/algorweb/sport-store" class="carousel__url"
              target="_blank">github.com/algorweb/sport-store</a>
          </div>
          <div class="carousel__img-wrap"><img src="img/proj_sport-ritm.png" alt="Сайт для SportRitm.com.ua"
              class="carousel__img" width="250" height="150">
          </div>
          <div class="carousel__details-tech">
            <div class="carousel__details">
              <h4 class="carousel__title">Детали</h4>
              <p class="carousel__text">Выполняется верстка проекта для будущей посадки на CMS
                WordPress.</p>
            </div>
            <div class="carousel__tech">
              <h4 class="carousel__title">Технологии</h4>
              <ul class="carousel__tech-items">
                <li class="carousel__tech-item">CSS3</li>
                <li class="carousel__tech-item">JavaScript</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="carousel__item carousel__item--fade hidden">
          <h3 class="carousel__caption">Страница для заказчика с Kwork kir32232</h3>
          <div class="carouse__client-url-wrap">
            <span class="carousel__client">Клиент:</span>
            <span class="carousel__client-name">kir32232</span>
          </div>
          <div class="carouse__client-url-wrap">
            <span class="carousel__proj-url">URL проекта:</span>
            <a href="http://algorweb.github.io/portfolio/millionsmedia/index.html" class="carousel__url"
              target="_blank">algorweb.github.io/portfolio/millionsmedia</a>
          </div>
          <div class="carouse__client-url-wrap">
            <span class="carousel__proj-url">Репозиторий GitHub:</span>
            <a href="https://github.com/algorweb/millions-media" class="carousel__url"
              target="_blank">github.com/algorweb/millions-media</a>
          </div>
          <div class="carousel__img-wrap">
            <img src="img/proj_millionsmedia.png" alt="Страница для заказчика с Kwork kir32232" class="carousel__img"
              width="250" height="150">
          </div>
          <div class="carousel__details-tech">
            <div class="carousel__details">
              <h4 class="carousel__title">Детали</h4>
              <p class="carousel__text">Сверстана одна страница.</p>
            </div>
            <div class="carousel__tech">
              <h4 class="carousel__title">Технологии</h4>
              <ul class="carousel__tech-items">
                <li class="carousel__tech-item">CSS3</li>
                <li class="carousel__tech-item">jQuery</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="carousel__item carousel__item--fade hidden">
          <h3 class="carousel__caption">Сайт для интернет-магазина FRESHSPORTDn</h3>
          <div class="carouse__client-url-wrap"><span class="carousel__client">Клиент:</span> <span
              class="carousel__client-name">FRESHSPORTDn</span></div>
          <div class="carouse__client-url-wrap"><span class="carousel__proj-url">URL проекта:</span>
            <a href="http://freshsportdn.com.ua/" class="carousel__url" target="_blank">freshsportdn.com.ua</a>
          </div>
          <div class="carousel__img-wrap"><img src="img/proj_freshsportdn.png" alt="Сайт для FRESHSPORTDn"
              class="carousel__img" width="250" height="150"></div>
          <div class="carousel__details-tech">
            <div class="carousel__details">
              <h4 class="carousel__title">Детали</h4>
              <p class="carousel__text">Сделана сборка на&nbsp;основе WordPress
                с&nbsp;использование
                бесплатного шаблона и&nbsp;внесения в&nbsp;него правок CSS.</p>
            </div>
            <div class="carousel__tech">
              <h4 class="carousel__title">Технологии</h4>
              <ul class="carousel__tech-items">
                <li class="carousel__tech-item">CSS3</li>
                <li class="carousel__tech-item">WordPress</li>
                <li class="carousel__tech-item">Theme: eStore</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="carousel__item carousel__item--fade hidden">
          <h3 class="carousel__caption">Тренировочный проект</h3>
          <div class="carouse__client-url-wrap"><span class="carousel__client">Клиент:</span> <span
              class="carousel__client-name"></span></div>
          <div class="carouse__client-url-wrap"><span class="carousel__proj-url">URL проекта:</span>
            <a href="http://algorweb.github.io/portfolio/sushitown/index.html" class="carousel__url"
              target="_blank">algorweb.github.io/portfolio/sushitown/index.html</a>
          </div>
          <div class="carousel__img-wrap"><img src="img/proj_sushitown.jpg" alt="Тренировочный проект"
              class="carousel__img" width="250" height="150"></div>
          <div class="carousel__details-tech">
            <div class="carousel__details">
              <h4 class="carousel__title">Детали</h4>
              <p class="carousel__text">Нужно больше практиковаться.</p>
            </div>
            <div class="carousel__tech">
              <h4 class="carousel__title">Технологии</h4>
              <ul class="carousel__tech-items">
                <li class="carousel__tech-item">Html5</li>
                <li class="carousel__tech-item">CSS3</li>
                <li class="carousel__tech-item">JavaScript</li>
                <li class="carousel__tech-item">jQuery</li>
                <li class="carousel__tech-item">Bootstrap</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="carousel__item carousel__item--fade hidden">
          <h3 class="carousel__caption">Тренировочный проект</h3>
          <div class="carouse__client-url-wrap"><span class="carousel__client">Клиент:</span> <span
              class="carousel__client-name"></span></div>
          <div class="carouse__client-url-wrap"><span class="carousel__proj-url">URL проекта:</span>
            <a href="http://algorweb.github.io/portfolio/sportatletic/index.html" class="carousel__url"
              target="_blank">algorweb.github.io/portfolio/sportatletic/index.html</a>
          </div>
          <div class="carousel__img-wrap"><img src="img/proj_sportatletic.jpg" alt="Тренировочный проект"
              class="carousel__img" width="250" height="150"></div>
          <div class="carousel__details-tech">
            <div class="carousel__details">
              <h4 class="carousel__title">Детали</h4>
              <p class="carousel__text">Нужно больше практиковаться.</p>
            </div>
            <div class="carousel__tech">
              <h4 class="carousel__title">Технологии</h4>
              <ul class="carousel__tech-items">
                <li class="carousel__tech-item">Html5</li>
                <li class="carousel__tech-item">CSS3</li>
                <li class="carousel__tech-item">JavaScript</li>
                <li class="carousel__tech-item">jQuery</li>
                <li class="carousel__tech-item">Bootstrap</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="carousel__item carousel__item--fade hidden">
          <h3 class="carousel__caption">Тренировочный проект</h3>
          <div class="carouse__client-url-wrap"><span class="carousel__client">Клиент:</span> <span
              class="carousel__client-name"></span></div>
          <div class="carouse__client-url-wrap"><span class="carousel__proj-url">URL проекта:</span>
            <a href="http://algorweb.github.io/portfolio/surfhouse/index.html" class="carousel__url"
              target="_blank">algorweb.github.io/portfolio/surfhouse/index.html</a>
          </div>
          <div class="carousel__img-wrap"><img src="img/proj_surfhouse.jpg" alt="Тренировочный проект"
              class="carousel__img" width="250" height="150"></div>
          <div class="carousel__details-tech">
            <div class="carousel__details">
              <h4 class="carousel__title">Детали</h4>
              <p class="carousel__text">Нужно больше практиковаться.</p>
            </div>
            <div class="carousel__tech">
              <h4 class="carousel__title">Технологии</h4>
              <ul class="carousel__tech-items">
                <li class="carousel__tech-item">Html5</li>
                <li class="carousel__tech-item">CSS3</li>
                <li class="carousel__tech-item">JavaScript</li>
                <li class="carousel__tech-item">jQuery</li>
                <li class="carousel__tech-item">Bootstrap</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="carousel__item carousel__item--fade hidden">
          <h3 class="carousel__caption">Тренировочный проект</h3>
          <div class="carouse__client-url-wrap"><span class="carousel__client">Клиент:</span> <span
              class="carousel__client-name"></span></div>
          <div class="carouse__client-url-wrap"><span class="carousel__proj-url">URL проекта:</span>
            <a href="http://algorweb.github.io/portfolio/lamoda/index.html" class="carousel__url"
              target="_blank">algorweb.github.io/portfolio/lamoda/index.html</a>
          </div>
          <div class="carousel__img-wrap"><img src="img/proj_lamoda.jpg" alt="Тренировочный проект"
              class="carousel__img" width="250" height="150"></div>
          <div class="carousel__details-tech">
            <div class="carousel__details">
              <h4 class="carousel__title">Детали</h4>
              <p class="carousel__text">Нужно больше практиковаться.</p>
            </div>
            <div class="carousel__tech">
              <h4 class="carousel__title">Технологии</h4>
              <ul class="carousel__tech-items">
                <li class="carousel__tech-item">Html5</li>
                <li class="carousel__tech-item">CSS3</li>
                <li class="carousel__tech-item">JavaScript</li>
                <li class="carousel__tech-item">jQuery</li>
                <li class="carousel__tech-item">Bootstrap</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="carousel__item carousel__item--fade hidden">
          <h3 class="carousel__caption">Тренировочный проект</h3>
          <div class="carouse__client-url-wrap"><span class="carousel__client">Клиент:</span> <span
              class="carousel__client-name"></span></div>
          <div class="carouse__client-url-wrap"><span class="carousel__proj-url">URL проекта:</span>
            <a href="http://algorweb.github.io/portfolio/webagency/index.html" class="carousel__url"
              target="_blank">algorweb.github.io/portfolio/webagency/index.html</a>
          </div>
          <div class="carousel__img-wrap"><img src="img/proj_webagency.jpg" alt="Тренировочный проект"
              class="carousel__img" width="250" height="150"></div>
          <div class="carousel__details-tech">
            <div class="carousel__details">
              <h4 class="carousel__title">Детали</h4>
              <p class="carousel__text">Нужно больше практиковаться.</p>
            </div>
            <div class="carousel__tech">
              <h4 class="carousel__title">Технологии</h4>
              <ul class="carousel__tech-items">
                <li class="carousel__tech-item">Html5</li>
                <li class="carousel__tech-item">CSS3</li>
                <li class="carousel__tech-item">JavaScript</li>
                <li class="carousel__tech-item">jQuery</li>
                <li class="carousel__tech-item">Bootstrap</li>
              </ul>
            </div>
          </div>
        </div><a class="carousel__prev" title="'Ctrl + &larr;'">&#10094;</a> <a class="carousel__next"
          title="'Ctrl + &rarr;'">&#10095;</a>
      </div>
    </div>
  </div>
</section>
