<section id="skills" class="skills">
  <div class="skills__description gl-description-left">
    <h2 class="skills__title gl-title">Мои Навыки</h2>
    <p class="skills__text gl-title-text">В&nbsp;такой отрасли как Front-End постоянно появляются
      и&nbsp;изменяются
      технологии. Поэтому очень важно постоянно держать руку на&nbsp;пульсе и&nbsp;изучать все новые
      необходимые технологии.</p>
  </div>
  <div class="skills__items">
    <div class="skills__item">
      <h3 class="skills__caption">HTML</h3>
      <p class="skills__background">Разметка страницы</p>
    </div>
    <div class="skills__item">
      <h3 class="skills__caption">CSS, SCSS</h3>
      <p class="skills__background">Стилизация элементов на странице</p>
    </div>
    <div class="skills__item">
      <h3 class="skills__caption">JavaScript (кастомизация)</h3>
      <p class="skills__background">Интерактив, взаимодействие с пользователем</p>
    </div>
    <div class="skills__item">
      <h3 class="skills__caption">jQuery (кастомизация)</h3>
      <p class="skills__background"></p>
    </div>
    <div class="skills__item">
      <h3 class="skills__caption">GULP</h3>
      <p class="skills__background"></p>
    </div>
    <div class="skills__item">
      <h3 class="skills__caption">GIT</h3>
      <p class="skills__background"></p>
    </div>
    <div class="skills__item">
      <h3 class="skills__caption">Адаптивность</h3>
      <p class="skills__background"></p>
    </div>
    <div class="skills__item">
      <h3 class="skills__caption">Кроссбраузерность </h3>
      <p class="skills__background"></p>
    </div>
    <div class="skills__item">
      <h3 class="skills__caption">Accessibility</h3>
      <p class="skills__background">Доступность для людей с&nbsp;ограниченными
        возможностями, поисковых роботов, читалок.</p>
    </div>
    <div class="skills__item">
      <h3 class="skills__caption">Photoshop Figma Avocode</h3>
      <p class="skills__background"></p>
    </div>
  </div>
</section>
