html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: "Ubuntu", "Arial", sans-serif;
  -webkit-text-size-adjust: 100%;
}

.page__body {
  position: relative;
  margin: 0;
  height: 100%;
  min-width: 320px;
  font-family: "Ubuntu", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Arial", sans-serif;
}

.picture {
  display: block;
  height: auto;
  max-width: 100%;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

p {
  line-height: 30px;
}

.site-container {
  display: flex;
  flex-direction: column;
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1440px;

  @media (min-width: $tablet) {
    padding: 0;
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.hidden {
  display: none;
}

.gl-description-right {
  overflow: hidden;
  padding: $gatter-top-mobile $gatter-out-mobile $gatter-bottom-mobile $gatter-in-mobile;
  max-width: 100%;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    padding-right: $gatter-out-tablet;
    padding-left: $gatter-in-tablet;
    width: $width-second-block-tablet;
  }

  // @media (min-width: $desktop) {
  //   padding-top: $gatter-top-desktop;
  //   padding-right: $gatter-out-desktop;
  //   padding-left: $gatter-in-desktop;
  //   width: $width-second-block-desktop;
  // }

  @media (min-width: $desktop) {
    padding: 60px;
    width: 62%;
  }

  // @media (min-width: $large-desktop) {
  //   padding-top: $gatter-top-desktop;
  //   padding-right: $gatter-out-desktop;
  //   padding-left: $gatter-in-desktop;
  //   width: $width-second-block-desktop;
  // }

  // @media (min-width: $x-large-desktop) {
  //   padding-top: $gatter-top-desktop;
  //   padding-right: $gatter-out-desktop;
  //   padding-left: $gatter-in-desktop;
  //   width: $width-second-block-desktop;
  // }
}

.gl-description-left {
  padding: $gatter-top-mobile $gatter-out-mobile $gatter-bottom-mobile $gatter-in-mobile;
  max-width: 100%;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    padding-right: $gatter-in-tablet;
    padding-left: $gatter-out-tablet;
    width: $width-second-block-tablet;
  }

  @media (min-width: $desktop) {
    padding-top: $gatter-top-desktop;
    padding-right: $gatter-in-desktop;
    padding-left: $gatter-out-desktop;
    width: $width-second-block-desktop;
  }
}

.gl-title {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: $text-color;

  @media (min-width: $desktop) {
    margin-bottom: 60px;
    font-size: 60px;
  }
}

.gl-title-text {
  @media (min-width: $tablet) {
    text-align: justify;
  }
}
