$accent-color: #2c303b;
$main-color: #2c303b;
$text-color: #2b303c;
$button-color: #bec1c8;

// Media
$x-large-desktop: 1440px;
$large-desktop: 1200px;
$desktop: 1124px;
$tablet: 768px;
$mobile: 576px;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Wigth of blocks
$width-first-block-mobile: 100%;
$width-second-block-mobile: 100%;
$width-first-block-tablet: 50%;
$width-second-block-tablet: 50%;
$width-first-block-desktop: 38%;
$width-second-block-desktop: 62%;

// Left or right gatters of blocks
$gatter-out-mobile: 10px;
$gatter-in-mobile: 10px;
$gatter-out-tablet: 40px;
$gatter-in-tablet: 40px;
$gatter-out-desktop: 15%;
$gatter-in-desktop: 10%;

// Top or bottom gatters of blocks
$gatter-top-mobile: 30px;
$gatter-bottom-mobile: 30px;
$gatter-top-tablet: 30px;
$gatter-bottom-tablet: 30px;
$gatter-top-desktop: 60px;
$gatter-bottom-desktop: 60px;
